#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

* {
  background-color: rgb(251, 245, 220);
}

.navbar {
  width: 100%;
  margin: 0;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  box-sizing: border-box;
  z-index: 1000;
}

.navbar img {
  height: 40px;
  border-radius: 50%;
  margin-right: 0.5rem;
}

.navbar button {
  margin-left: 1rem;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 10px;
}

.image-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.image {
  display: block;
  width: 100%;
  margin-bottom: 5px;
  border-radius: 5px;
}

.favorite-button,
.delete-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
}

.image-grid2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.loading {
  color: #53a064;
}

h2 {
  color: #53a064;
  margin-top: 0px;
  margin-bottom: 30px;
}

.chatBubble {
  margin-top: 45px;
  margin-bottom: 50px;
}

input[type="text"]::placeholder {
  color: #53a064;
}

form {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 90px;
}

input[type="text"] {
  padding: 10px;
  border: 3px solid #85c994;
  border-radius: 5px; /* Rundade hörn på vänster sida */
  outline: none;
  width: 50%;
  font-weight: bold;
  background: rgb(251, 245, 220);
  color: #53a064;
}

button[type="submit"] {
  padding: 10px 20px;
  background-color: #68ca7e;
  border: 2px solid #68ca7e;
  cursor: pointer;
  border-radius: 5px; /* Rundade hörn på höger sida */
  width: 100px;
  color: #ebfefd;
  font-weight: bold;
}

button {
  background-color: #68ca7e;
  border: 2px solid #68ca7e;
  cursor: pointer;
  border-radius: 5px; /* Rundade hörn på höger sida */
  color: #ebfefd;
  font-weight: bold;
}

button[type="submit"]:hover,
button:hover {
  background-color: #82da95;
  border: 2px solid #82da95;
  color: #daf8e0;
}

/* två bilder per rad */
@media (max-width: 800px) {
  .image-grid2,
  .image-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* en bild per rad */
@media (max-width: 500px) {
  .image-grid2,
  .image-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
